[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
ExecStart=/usr/bin/mbsync -a -c ${XDG_CONFIG_HOME}/mbsync/mbsync.conf
ExecStartPost=/usr/bin/notmuch new
